<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Blood Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="intro-wrapper">
        <div class="intro-left">
            <h1>Welcome to OBBMS</h1>
        </div>
        <div class="intro-right">
            <p>Your health is our priority.<br>Join us today to donate and receive blood when needed.</p>
            <div class="button-group">
              <a href="/register" class="btn red">Register</a>
              <a href="/login" class="btn red">Login</a>
              
            </div>
        </div>
    </div>
</body>
</html>
