<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Blood Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="centered">
    <h1>Welcome to the Online Blood Bank</h1>
    <p>Your health is our priority. Join us today to donate and receive blood when needed.</p>
    <a href="{{ url_for('register') }}">Register</a> |
    <a href="{{ url_for('login') }}">Login</a>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</body>
</html>
